

/* ==========================================================================
   Author's custom styles
   ========================================================================== */
.white_inject{
	  color: #FFF;
}

.jumbotron h1 {
    color: #551A8B;
}

.jumbotron h2 {
    color: #551A8B;
    margin-top:0px;
    margin-bottom:-20px;
}

.jumboImage {
	background-color: #FFF;
	background: cover;
	background-image: url(https://static.pexels.com/photos/1984/black-and-white-city-man-people.jpg);
}



#high_chart {
padding-top:15px;
padding-bottom:15px;

}

#dashView1 {


}

#dashView2 {

}

#dashView3 {

}









