{% load staticfiles %}

<!doctype html>
<!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7" lang=""> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8" lang=""> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie9" lang=""> <![endif]-->
<!--[if gt IE 8]><!--> <html class="no-js" lang=""> <!--<![endif]-->
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
        <title>{% block head_title %}{% endblock %}</title>
        <meta name="description" content="">
        <meta name="viewport" content="width=device-width, initial-scale=1">

        <link rel="stylesheet" href="{% static 'css/bootstrap.min.css' %}">
        <style>
            body {
                padding-top: 50px;
                padding-bottom: 20px;
            }
        </style>
       
        <link rel="stylesheet" href="{% static 'css/bootstrap-theme.min.css' %}">
        <link rel="stylesheet" href="{% static 'css/main.css' %}">

        <script src="{% static 'js/vendor/modernizr-2.8.3-respond-1.4.2.min.js' %}"></script>


    
    </head>
    <body>
        <!--[if lt IE 8]>
            <p class="browserupgrade">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade your browser</a> to improve your experience.</p>
        <![endif]-->
    <nav class="navbar navbar-default navbar-fixed-top" role="navigation">
      <div class="container">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a class="navbar-brand" href="#">Biscuit Supply Hub | Welcome, {{ user.username }}.</a>
        </div>
        <div id="navbar" class="navbar-collapse collapse">
          <form class="navbar-form navbar-right" role="form">
            <div class="form-group">
              <input type="text" placeholder="LAN ID" class="form-control">
            </div>
            <div class="form-group">
              <input type="password" placeholder="Password" class="form-control">
            </div>
            <button type="submit" class="btn btn-success">Verify Access</button>
          </form>
        </div><!--/.navbar-collapse -->
      </div>
    </nav>

    
    <div class="jumboImage">
          <div class="container">
    <div class="jumbotron">

        <h2><b>Supply Planning Hub</b> <font size="5">1.1</font></h2>
        <h1><b>MDLZ</b> Biscuit Networks</h1> 
        <p><a class="btn btn-primary btn-lg centered" href="networks" role="button">Show Networks</a></p>
        <hr>
      </div>
    </div>
    </div>
   
<!-- Begin Content under Jumbo -->
    <div class="container">


              <div id="high_chart"></div>


      <!-- Example row of columns -->
      <div class="row">
        <div class="col-md-4 dash ">
          <div id="dashView1"></div>
    
        </div>
        <div class="col-md-4">
          <div id="dashView2"></div>
       </div>
        <div class="col-md-4">
        <div id="dashView3"></div>
        </div>
        <div class="col-md-4 white_inject">
          <h2>Top 10 Cuts</h2>
          <p>Cut 1</p>
          <p>Cut 2</p>
          <p>Cut 3</p>
          <p>Cut 4</p>
          <p><a class="btn btn-default" href="#" role="button">View details &raquo;</a></p>
        </div>
        <div class="col-md-4 white_inject">
          <h2>AC YTD</h2>
          <p>Donec sed odio dui. Cras justo odio, dapibus ac facilisis in, egestas eget quam. Vestibulum id ligula porta felis euismod semper. Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh, ut fermentum massa justo sit amet risus.</p>
          <p><a class="btn btn-default" href="#" role="button">View details &raquo;</a></p>
        </div>
        <div class="col-md-4">
          <h2>Bakery Metrics</h2>
          <p>Donec sed odio dui. Cras justo odio, dapibus ac facilisis in, egestas eget quam. Vestibulum id ligula porta felis euismod semper. Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh, ut fermentum massa justo sit amet risus.</p>
          <p><a class="btn btn-default" href="#" role="button">View details &raquo;</a></p>
        </div>
      </div>



   </div> <!-- /container -->


      
      <footer>
        <p>&copy; Pharmhouse, Inc. 2016</p>
      </footer>

      <script src="//ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
        <script>window.jQuery || document.write('<script src="static/js/vendor/jquery-1.11.0.min.js"><\/script>')</script>

        <script src="{% static 'js/vendor/bootstrap.min.js' %}"></script>
        <script src="{% static 'js/main.js' %}"></script>
        <script src="{% static 'highcharts/js/highcharts.js' %}"></script>
        <script src="{% static 'highcharts/js/custom_views.js' %}"></script>



<style type="text/css">
   body { background: #000 !important; } /* Adding !important forces the browser to overwrite the default style applied by Bootstrap */
</style>
    </body>
</html>